<div th:fragment="footer">
    <div id="footer-widgets" class="gp-footer-larger-first-col">
        <div class="gp-container">
            <div class="footer-widget footer-1">
                <div class="wpb_wrapper">
                    <img src="/images/logo.png" alt=""/>
                </div>
                <br>
                <p>ваш идеальный партнер для неограниченного потока развлечений! Мы предлагаем огромную библиотеку аниме, доступную для просмотра в любое время и в любом месте.</p>
            </div>
            <div class="footer_box">
                <div class="col_1_of_3 span_1_of_3">
                    <h3>Теги</h3>
                    <ul class="first">
                        <li><a href="#">ГГ мужчина</a></li>
                        <li><a href="#">ГГ женщина</a></li>
                        <li><a href="#">Дружба</a></li>
                        <li><a href="#">Магия</a></li>
                        <li><a href="#">Монстры</a></li>
                        <li><a href="#">Насилие/Жестокость</a></li>
                        <li><a href="#">Способности</a></li>
                        <li><a href="#">Война</a></li>
                    </ul>
                </div>
                <div class="col_1_of_3 span_1_of_3">
                    <h3>Жанры</h3>
                    <ul class="first">
                        <li><a href="#">Романтика</a></li>
                        <li><a href="#">Боевик</a></li>
                        <li><a href="#">Подседневность</a></li>
                        <li><a href="#">Фантастика</a></li>
                        <li><a href="#">Фэнтези</a></li>
                        <li><a href="#">Будущее</a></li>
                        <li><a href="#">Приключение</a></li>
                        <li><a href="#">Ужасы</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>