<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>Bizarre Adventure</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Movie_store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
</head>
<body>
	<header th:insert="~{blocks/header :: header}"></header>
	<div class="bd">
	<div class="container">
		<div class="container_wrap">
	      <div>
      	     <div class="register">
		  	  <form action="/register" method="post" class="form-signup">
				<h2 class="text-center">Регистрация</h2>
				<div class="register-top-grid">
					<div class="row">
						<label for="login">Логин:</label>
						<input type="text" name="login" id="login" class="form-control">
						<span th:if="${errors}" th:text="${errors[login]}" class="error"> </span>
					</div>
					<div class="row">
						<label for="email">Email Address:</label>
						<input type="email" name="email" id="email" class="form-control">
						<span th:if="${errors}" th:text="${errors[email]}" class="error"></span>
					</div>
					<div class="row">
						<label for="password">Пароль:</label>
						<input type="password" name="password" id="password" class="form-control">
						<span th:if="${errors}" th:text="${errors[password]}" class="error"></span>
					</div>
					<div class="row">
						<label for="confirm_password">Подтверждение пароля:</label>
						<input type="password" name="confirm_password" id="confirm_password" class="form-control">
						<span th:if="${errors}" th:text="${errors[password]}" class="error"></span>
					</div>
				</div>
				<input type="submit" value="Create Account">
			</form>
			</div>
		</div>
	</div>
</div>
<footer id="">
   <div id="footer-widgets" class="gp-footer-larger-first-col">
	   <div class="gp-container">
		   <div class="footer-widget footer-1">
			   <div class="wpb_wrapper">
				   <img src="images/f_logo.png" alt=""/>
			   </div> 
			 <br>
			 <p>ваш идеальный партнер для неограниченного потока развлечений! Мы предлагаем огромную библиотеку аниме, доступную для просмотра в любое время и в любом месте.</p>
			</div>
			<div class="footer_box">
			 <div class="col_1_of_3 span_1_of_3">
				<h3>Теги</h3>
				<ul class="first">
				  <li><a href="#">ГГ мужчина</a></li>
				  <li><a href="#">ГГ женщина</a></li>
				  <li><a href="#">Дружба</a></li>
				  <li><a href="#">Магия</a></li>
				  <li><a href="#">Монстры</a></li>
				  <li><a href="#">Насилие/Жестокость</a></li>
				  <li><a href="#">Способности</a></li>
				  <li><a href="#">Война</a></li>
				</ul>
			  </div>
			  <div class="col_1_of_3 span_1_of_3">
				<h3>Жанры</h3>
				<ul class="first">
				  <li><a href="#">Романтика</a></li>
				<li><a href="#">Боевик</a></li>
				<li><a href="#">Подседневность</a></li>
				<li><a href="#">Фантастика</a></li>
				<li><a href="#">Фэнтези</a></li>
				<li><a href="#">Будущее</a></li>
				<li><a href="#">Приключение</a></li>
				<li><a href="#">Ужасы</a></li>
				</ul>
			  </div>
			</div>
	   </div>
   </div>
 </footer>		
</body>
</html>